<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Users | Request</title>
    </head>
    <body>
        <a href="{{ url_for('index') }}">Back to Home</a>
        <div class="container">
            <form actiom="user_request" method="POST">
                <h1>Request Repair Systems</h1>
                <label for="name">User name:</label>
                <input type="text" id="name" name="name" required>
                
                <label for="equipment">Equipments:</label>
                <input type="text" id="equipment" name="equipment" required>
                
                <label for="description">Description:</label>
                <textarea id="request" name="request" required></textarea>
                
                <label for="date">Issue Date</label>
                <input type="date" name="date" id="date">

                <button type="submit">Submit Request</button>
            </form>
        </div>

    </body>
</html>